.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-card {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 380px;
  text-align: center;
  color: white;
  position: relative;
}

.close-x {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.dev-info p {
  margin: 10px 0;
}

.dev-info a {
  color: rgb(95, 95, 255)
  ;
  text-decoration: none;
}