*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  max-width: 100vw !important;
}

h1, h2, h4 {
  font-family: 'Figtree', sans-serif;
  font-weight: 700;
  text-transform: uppercase; 
  letter-spacing: 1px;    
}

html, body {
  overflow-x: hidden !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

