body {
    background-color: gainsboro;
}

.soon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #454545;
  color: white;
  max-width: 500px;
  width: 90%;   
  margin: 15vh auto; 
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.soon-gif {
  width: 250px; 
  border-radius: 12px;
  margin-bottom: 20px;
}

.soon-textos h2{
    color: #ab72a5;
}