.footer-container {
  padding: 40px 10%;
  border-top: 1px solid #eee; /* Línea divisoria sutil */
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #454545;
  color: white;
}

/* Fila de arriba con Flexbox */
.footer-top {
  display: flex;
  justify-content: space-between; /* Empuja iconos a la izq y link a la der */
  align-items: center;
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 15px; /* Espacio entre cada icono de red social */
  font-size: 1.2rem;
  color: white;
}

.developer-link a {
  color: white; /* Color azul del link como en la imagen */
  font-size: 1.1rem; 
}

/* Fila de abajo centrada */
.footer-bottom {
  text-align: center;
  width: 100%;
  font-size: 0.85rem;
  color: white;
  margin-top: 10px;
}

.social-icons i {
  cursor: pointer;
  transition: color 0.3s;
  color: white; /* El color oscuro de la guía */
  
}

/* Efecto opcional: que cambien de color al pasar el mouse */
.social-icons i:hover {
  color: #ab72a5; 
}

.developer-link a:hover{
  color: #ab72a5;
}

.footer-bottom p {
  font-size: 1.1rem;  
}

@media screen and (max-width: 768px) {

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

}